.landing-intro-screenshot img {
    transform: rotateY(-20deg) rotateX(2deg);
    box-shadow: unset;
}

.row.py-4 {
    position: relative;
}

.row.py-4 .col-sm-4:nth-child(1),
.row.py-4 .col-sm-4:nth-child(3) {
    z-index: 0;
}

nav.navbar{
    display:block;
    z-index:10;
    right:0;
    left:0;
    border-bottom:1px solid #4b4f5c
}

.landing-intro{
    padding-top:160px!important
}

/* Alert outline styles */
.alert-outline-coloured {
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    display: flex;
    align-items: flex-start;
}

.alert-outline-coloured .alert-icon {
    margin-right: 1rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.alert-outline-coloured .alert-message {
    flex-grow: 1;
}

.alert-outline-coloured.alert-primary {
    border-color: #3b7ddd;
    color: #3b7ddd;
}

.alert-outline-coloured.alert-secondary {
    border-color: #6c757d;
    color: #6c757d;
}

.alert-outline-coloured.alert-success {
    border-color: #1cbb8c;
    color: #1cbb8c;
}

.alert-outline-coloured.alert-danger {
    border-color: #dc3545;
    color: #dc3545;
}

.alert-outline-coloured.alert-warning {
    border-color: #fcb92c;
    color: #fcb92c;
}

.alert-outline-coloured.alert-info {
    border-color: #17a2b8;
    color: #17a2b8;
}