@model Aiursoft.WeChatExam.Models.DashboardViewModels.IndexViewModel
<div class="text-center mt-5">
    <h1 class="display-4">@Localizer["Admin center for exam WeChat mini program"]</h1>
    <p>@Localizer["This is the admin center for the exam and practice WeChat mini program"]</p>
</div>

<div class="container-fluid p-5">
    <div class="row mb-2 mb-xl-3">
        <div class="col-auto d-none d-sm-block">
            <h3>@Localizer["Welcome"]</h3>
        </div>

        <div class="col-auto ms-auto text-end mt-n1">
            <a href="/swagger/index.html" class="btn btn-outline-primary shadow-sm" target="_blank">
                <i class="align-middle" data-lucide="book"></i> @Localizer["Try the API"]
            </a>
        </div>
    </div>

</div>
